.productContainer {
    display: flex;
    flex-direction: row;
}

.title {
    font-size: 24px;
    margin-bottom: 20px;
}

.productList {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 100%;
}

.productContainer {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
}

.productImage {
    width: 100px;
    height: 100px;
    object-fit: contain;
    margin-right: 20px;
}

.productDetails {
    flex: 1;
}

.productTitle {
    font-size: 18px;
    margin-bottom: 5px;
}

.productPrice {
    font-size: 14px;
}

.productTotal {
    font-size: 16px;
    font-weight: bold;
}

.productQuantity {
    font-size: 14px;
}

.cartSummary {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 20px;
}

.total {
    font-size: 20px;
    font-weight: bold;
    margin-bottom: 10px;
}

.boton {
    display: inline-block;
    background-color: #f6830f;
    color: #fff;
    font-size: 1rem;
    font-weight: bold;
    padding: 0.5rem 1rem;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

.boton:hover {
    background-color: #d56108;
}


.emptyCartMessage {
    font-size: 18px;
    margin-top: 20px;
}

.cartAcciones {
    display: flex;
    justify-content: space-between;
}