:root {
  font-family: 'Tilt Neon', sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  min-height: 100vh;
  background-color: #ffffff;
  margin-top: 2.5rem;
}


h3 {
margin-top: 1.875rem;
font-size: 2rem;
font-weight: bold;
color: #2f89d7; 
margin-bottom: 1rem;
}

button {
  display: inline-block;
padding: 10px 20px;
background-color: #2f89d7;
color: #fff; 
font-weight: bold;
text-decoration: none;
border-radius: 8px;
transition: background-color 0.3s ease;
border: none;
transition: .5s ease;
}

button:hover {
  background-color: #2f89d7; 
  color: #242424;
}

.Link {
  display: inline-block;
  padding: 10px 20px;
  background-color: #2f89d7;
  color: #fff; 
  font-weight: bold;
  text-decoration: none;
  border-radius: 8px;
  transition: 0.5s ease;
}

.Link:hover { 
  color: #242424;
}

label {
  color: #2f89d7;
}

input {
  color: #2f89d7;
}